.app {
  margin: 0 auto;
  max-width: 1200px;
  padding: 40px;
  width: 100%;

  &__goal {
    color: $secondaryColor;
    font-size: 44px;
  }

  &__heading {
    font-size: 28px;
    font-weight: 700;
    letter-spacing: 10px;
    line-height: 64px;
    margin: 0 0 20px 0;
    text-align: center;

    @media (min-width: $phoneBrakepoint) {
      font-size: 40px;
    }

    @media (min-width: $tabletBrakepoint) {
      font-size: 55px;
    }
  }

  &__info {
    font-size: 22px;
    margin: 0 0 20px 0;
    text-align: center;

    @media (min-width: $tabletBrakepoint) {
      text-align: left;
    }
  }

  &__tip {
    font-size: 24px;
    margin: 0 0 30px 0;
    text-align: center;
  }
}

.glass {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;

  @media (min-width: $tabletBrakepoint) {
    flex-direction: row;
  }

  &__image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
  }

  &__button {
    background: none;
    border: none;
    cursor: pointer;

    &:focus {
      outline: 2px dashed $secondaryColor;
    }

    &:hover {
      svg {
        transform: scale(1.1);
      }
    }

    svg {
      fill: $primaryColor;
      height: 80px;
      outline: none;
      transition: transform 0.3s linear, fill 0.2s linear;
      width: 80px;

      &:hover {
        fill: $secondaryColor;
      }
    }

    &--remove {
      margin-right: 20px;

      @media (min-width: $tabletBrakepoint) {
        position: absolute;
        left: 50%;
        transform: translate(-240%, -50%);
      }
    }

    &--add {
      margin-left: 20px;

      @media (min-width: $tabletBrakepoint) {
        position: absolute;
        right: 50%;
        transform: translate(240%, -50%);
      }
    }
  }

  &__counter {
    font-size: 100px;
    position: absolute;

    &--animated {
      animation: fadeIn 0.5s;
    }

    &--dark {
      color: #000;
    }
  }

  &__water {
    transform-origin: center 95%;

    &--animated {
      animation: water 0.5s ease forwards;
    }
  }
}
