@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes water {
  from {
    transform: scale(var(--waterStartScaleX, 0.8), var(--waterStartScaleY, 0));
  }

  to {
    transform: scale(var(--waterEndScaleX, 0.8), var(--waterEndScaleY, 1));
  }
}
