.dialog {
  display: none;
  height: 100vh;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 100%;

  &__close-button {
    color: $primaryColor;
    cursor: pointer;
    display: inline-block;
    height: 32px;
    position: absolute;
    right: 20px;
    top: 20px;
    transition: color 0.5s ease;
    width: 32px;

    &::after {
      border-left: 3px solid $primaryColor;
      content: "";
      height: 32px;
      left: 16px;
      position: absolute;
      transform: rotate(45deg);
    }

    &::before {
      border-left: 3px solid $primaryColor;
      content: "";
      height: 32px;
      left: 16px;
      position: absolute;
      transform: rotate(-45deg);
    }

    &:hover {
      &::after {
        border-left-color: $secondaryColor;
      }

      &::before {
        border-left-color: $secondaryColor;
      }
    }
  }

  &__content {
    background: $dialogBackgroundColor;
    height: 100vh;
    min-width: 300px;
    position: absolute;
    right: 0;
    transform: translateX(100%);
    width: 20%;
    z-index: 1;

    &--open {
      animation: slide-in 0.5s ease forwards;
    }

    &--closed {
      animation: slide-out 0.5s ease forwards;
    }

    &--down {
      height: auto;
      min-height: 300px;
      width: 100%;

      &.dialog__content--open {
        animation: slide-down 0.5s ease forwards;
      }

      &.dialog__content--closed {
        animation: slide-up 0.5s ease forwards;
      }
    }

    &--filled-screen {
      min-height: 100%;
      width: 100%;
    }
  }

  &__main-content {
    font-size: 18px;
    max-height: 100vh;
    overflow-y: auto;
    padding: 30px 20px;

    &--filled-screen {
      padding: 30px 40px;

      @media (min-width: $tabletBrakepoint) {
        padding: 30px 60px;
      }
    }
  }

  &__overlay {
    background-color: rgba(0, 0, 0, 0.575);
    height: 100vh;
    position: absolute;
    width: 100%;
  }

  &__title {
    font-size: 24px;
  }
}

@keyframes slide-in {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slide-out {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(100%);
  }
}

@keyframes slide-down {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes slide-up {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-100%);
  }
}
