$backgroundColor: #334e63;
$dialogBackgroundColor: #76b5e8;
$primaryColor: #fff;
$secondaryColor: #3092e3;
$darkTextColor: #334e63;
$tableColor: #334e63;

$phoneBrakepoint: 375px;
$tabletBrakepoint: 768px;
